body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  font-family: Arial, sans-serif;
}

.caixa {
  background-color: white;
  padding: 40px;
  width: 70%;
  /*aspect-ratio: 1/1;
  max-height: 78vh;
  */
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 5px 4px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td:hover {
  background-color: lightgray;
}