button{
		background-color: black;
	}
    p{
		font-size: 20px;
	}
	#returnNav {
		word-spacing: 40px;
		background-color: black;
	}
	#returnPage {
		color: white
	}
	#returnHome {
		color: white
	}
	button{
		background-color: black;
	}
	header{
		background-color: black;
		color: white;
	}
	header{
		background-color: black;
		color: white;
        word-spacing: 50px;
        font-size: 20px;
	}
    body{
		background-color: lightgray; }
    nav{
            background-color: black;
             word-spacing: 15px
        }
    .membros {
        background-color: lightgray
    }
	.membersNav {
		color: white
	}
	.headerButtons {
		color: white;
		font-size: 18px;
	}
	.albuns {
		font-size: 28px;
	}